.forecast {
  display: flex;
  height: 40%;
  justify-content: space-evenly;

  &__box {
    width: calc(100% / 5.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100%;
    justify-content: center;

    transition: all 0.4s;
    &__day {
      font-size: 2.5rem;

      @include respond(phone) {
        font-size: 2rem;
        align-self: center;
      }
    }
    &__temp {
      font-size: 2rem;
      font-weight: 800;

      &-max {
        font-size: 2rem;
        font-weight: 800;
      }
      @include respond(phone) {
        align-self: center;
      }
    }

    &__image {
      height: 90%;
      padding-top: 5%;
    }
    &:hover {
      transform: scale(1.03);
      border: 1px solid;
      box-shadow: 0rem 0.4rem 1rem 0rem rgba($color-black, 0.5);
    }

    @include respond(phone) {
      width: 90%;
      height: 15%;
      flex-direction: row;
      justify-content: space-around;
      border: none;
      box-shadow: none;
    }
  }

  @include respond(phone) {
    flex-direction: column-reverse;
    height: 100%;
  }
}
