.main {
  max-width: $grid-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__error {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1rem;
    width: 166%;
    color: $color-primary-error;
    font-size: 1.6rem;
    background-color: rgba($color-grey-dark-4, 0.5);
    @include respond(tab-port) {
    }

    @include respond(phone) {
      width: 133%;

      left: 2rem;
      transform: translate(-14%, -40%);
      font-size: 1.3rem;
    }
  }
  @include respond(tab-port) {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include respond(phone) {
    margin-top: 0rem;
    flex-direction: column;
  }
}

.homepage {
  &__input {
    margin: 5rem;
    position: relative;

    @include respond(tab-port) {
      margin: 0rem;
    }

    @include respond(phone) {
      margin: 2rem;
      align-self: flex-start;
    }
  }
}
