//colors
$color-primary: #505867;
$color-primary-light: #667083;
$color-primary-dark: #282c34;
$color-primary-blue: #6ab0f9;
$color-secondary-light: #424242;
$color-secondary-dark: #1982e1;

$color-react: #2482d9;
$color-react-dark: #4351fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #3d3d3d;

$color-white: #fff;
$color-black: #000;

//font
$defaut-font-size: 1.6rem;
//grid
$grid-width: 124rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//perspectiv
$perspectiv-normal: 150rem;
