//colors
$color-primary-light: #667083;
$color-primary-dark: #282c34;
$color-primary-blue: #6ab0f9;
$color-secondary-light: #424242;
$color-secondary-dark: #1982e1;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eeee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-4: #3d3d3d;

$color-white: #fff;
$color-black: #000;

//font
$defaut-font-size: 1.6rem;
//grid
$grid-width: 124rem;
