.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  height: 10vh;
  min-height: 4rem;
  max-height: 9rem;
  position: relative;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  text-transform: uppercase;

  &__nav {
    &__ul {
      height: 100%;
      display: flex;
      justify-content: space-around;
      list-style: none;

      &--li {
        min-width: 10rem;
        a {
          color: rgba($color-grey-light-1, 0.5);
          padding: 1rem;
          cursor: pointer;
          position: relative;
          text-decoration: none;

          transition: all 0.3s;
          &:hover {
          }
        }
      }
    }
    @include respond(tab-land) {
      padding: 5rem 0rem;
    }

    @include respond(tab-port) {
      // display: none;
    }
  }

  &__logo {
    font-size: 3rem;
  }

  @include respond(tab-land) {
  }
}
